/* .bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
     */
/* @media (min-width: 1025px) {
    .h-custom-2 {}
    } */

/* .inputs input{width:60px;height:60px}input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{-webkit-appearance: none;-moz-appearance: none;appearance: none;margin: 0}.card-2{background-color:#fff;padding:10px;width:350px;height:100px;bottom:-50px;left:20px;position:absolute;border-radius:5px}.card-2 .content{margin-top:50px}.card-2 .content a{color:red}.form-control:focus{box-shadow:none;border:2px solid red}.validate{border-radius:20px;height:40px;background-color:red;border:1px solid red;width:140px} */

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Manrope:wght@400;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Sora:wght@400;600;800&display=swap");

.Login-contender {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  /* align-items: center; */
  overflow: hidden;
}
.Login-box {
  width: 100%;
  height: 100vh;
}

.Login-orange {
  /* background-color: #F1450E; */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;

  .Login-Right-cont > .form-container > .login-form {
    .login-logo {
      width: 146px;
      /* height: 47px; */
      margin: 0;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 300;
      font-size: 2.8vw;
      /* line-height: 47px; */
      /* identical to box height */
      margin: 2vw 0 0 0;
      display: flex;
      align-items: center;
      color: #f1450e;
    }

    .login-title {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 300;
      font-size: 2.5vw;
      line-height: 47px;
      display: flex;
      align-items: center;
      color: #232323;
      margin: 1.5vw 0 0 0;
    }

    .input-cont {
      .EmailOrMobile {
        margin: 1.5vw 0 0 0;
      }
    }
  }
}

.Login-Right-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  padding-left: 150px;
}

.input-cont {
  display: flex;
  flex-direction: column;
  /* width: 90%; */
  justify-content: flex-start;
  align-items: flex-start;
}
.login-form-input-cont {
  width: 90%;
  padding: 15px 10px;
}
.Login-email-input {
  width: 100%;
  background: #f4f4f4;
  box-shadow: 0px 1px 1px rgba(116, 116, 116, 0.25);
  border-radius: 4px;
}
.Login-pwd-input {
  width: 100%;
  background: #f4f4f4;
  box-shadow: 0px 1px 1px rgba(116, 116, 116, 0.25);
  border-radius: 4px;
}
.Login-btn {
  background: #f1450e;
  border-radius: 4px;
  padding: 10px 0px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: none;
}
.login-form-fp {
  display: flex;
  flex-direction: column;
  /* width: 90%; */
  justify-content: center;
  align-items: center;
}
.login-forgotpass {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 1.5vw 0 0 0;
  /* identical to box height */

  text-decoration-line: underline;

  color: rgba(14, 14, 14, 0.55);

  /* padding: 10px ; */
}
.Login-register-btn {
  //   margin-top: -20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #f1450e;
  border-radius: 4px;
  padding: 10px 0px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;

  /* identical to box height */

  display: flex;
  align-items: center;

  color: #f1450e;
}
.Login-Left-img-cont {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orline {
  text-align: center;
  width: 100%;
  padding: 24px 0px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before,
  &::after {
    margin: 0 0.5vw 0 0.5vw;
    content: "";
    top: 50%;
    width: 50%;
    height: 1px;
    background-color: #aeaeae;
  }
}

.icon-cont {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 90%;
  justify-content: space-evenly;
  div {
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 0.5vw;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    img,
    svg {
      font-size: 1.5vw;
      width: 1.5vw;
    }
  }
}
.Login-Left-img-cont > img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 15px;
  padding: 20px 20px;
  border-radius: 2vw;
}

.EmailOrMobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}
.emailtext {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  /* line-height: 18px; */
  display: flex;
  align-items: flex-start;

  color: #232323;
  padding: 0 24px;
  border-bottom: 1px solid #f1450e;
}
.pwdtext {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #a8a6a6;
  border-bottom: 1px solid #a8a6a6;
}

// css for register section
#leftcompo > div {
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    #topLogo {
      width: 10vw;
      margin-bottom: 2vw;
    }
    h3 {
      font-size: 2.2vw;
      font-weight: bold;
    }
    div {
      .col-sm-6 {
        padding: 0 !important;
      }
    }

    input {
      margin: 1.5vw 0;
      background: #f4f4f4;
    }
  }
}
#dob {
  margin: 0 !important;
}
